<div class="py-5">

  <h3 class="display-3">


          Thank You

   </h3>
   <p class="lead"> Your eBook should be emailed to you within 1 Business day </p>

   <a href="/" class="btn btn-dark btn-lg" >Go back Home </a>  


</div>
